<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:macro name="lidar_sensor" params="name parent_link *origin">
  
    <xacro:property name="radius"        value="${5*cm2m}" />
    <xacro:property name="length"        value="${4*cm2m}"/>
    <xacro:property name="mass"          value="0.1"/>
    <xacro:property name="min_angle"     value="-1.57"/>
    <xacro:property name="max_angle"     value="1.57"/>
    <xacro:property name="min_range"     value="0.1"/>
    <xacro:property name="max_range"     value="12"/>
    <xacro:property name="num_samples"   value="180"/>
    <xacro:property name="update_rate"   value="10"/>

    <joint name="${name}_joint" type="fixed">
        <parent link="${parent_link}"/>
        <child link="${name}_link"/>
        <xacro:insert_block name="origin"/>
    </joint>

    <link name="${name}_link">
      <visual>
        <geometry>
          <cylinder radius="${radius}" length="${length}"/>
        </geometry>
        <material name="red">
            <color rgba="1 0 0 1"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <cylinder radius="${radius}" length="${length}"/>
        </geometry>
      </collision>
      <xacro:inertial_cylinder mass="${mass}" length="${length}" radius="${radius}"/>
    </link>

    <gazebo reference="${name}_link">
      <sensor name="laser" type="ray">
        <pose> 0 0 0 0 0 0 </pose>
        <visualize>true</visualize>
        <update_rate>${update_rate}</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>${num_samples}</samples>
              <min_angle>${min_angle}</min_angle>
              <max_angle>${max_angle}</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>${min_range}</min>
            <max>${max_range}</max>
          </range>
        </ray>
        <plugin name="laser_controller" filename="libgazebo_ros_ray_sensor.so">
          <ros>
            <remapping>~/out:=scan</remapping>
          </ros>
          <output_type>sensor_msgs/LaserScan</output_type>
          <frame_name>lidar_frame</frame_name>
        </plugin>
      </sensor>
    </gazebo>

  </xacro:macro>
</robot>

